.UploadingImage_Container {
  width: 300px;
  height: 150px;
  background-color: #444753;
  position: absolute;
  top: 35%;
  left: 53%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UploadingImage_Text {
  margin-top: 10px;
  color: white;
  font-weight: 500;
  font-size: 20px
}