.FriendListItem_Container {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.FriendListItem_Avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.FriendListItem_Name {
  margin-left: 10px;
  color: white;
  font-weight: 500;
  letter-spacing: 10;
}

.FriendListItem_Status {
  color: gray;
  font-size: 12;
  margin-left: 10px;
}

.FriendListItem_Container2 {
  display: flex;
  flex-direction: column;
}
.FriendListItem_Container3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.FriendListItem_Online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #86bb71;
}

.FriendListItem_Offline {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e38968;
}
