.friendList_Container {
  position: absolute;
  height: 75vh;
  width: 20%;
  background: #444753;
  margin-top: 150px;
  margin-left: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: auto; 
}

.friendList_List {
  margin-top: 50px;
  padding: 15px;
}

