.SearchFriend_Container {
  position: absolute;
  margin-top: 10px;
  margin-left: 30px;
  width: 330px;
  height: 40px;
  background-color: #e6e8ed;
  border-radius: 5px;
}

.SearchFriend_Input{
  padding-left: 50px;
  font-weight: bolder;
  color: red;
  background-color: #e6e8ed
}