.chatting_Container {
  position: absolute;
  height: 75vh;
  width: 48%;
  background: #e6e8ed;
  margin-top: 150px;
  margin-left: 685px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
}

.chatting_MessageList {
  overflow: auto;
  margin-top: 20px;
  height: 490px;
  width: 700px;
}

.chatting_Line {
  width: 100%;
  height: 1px;
  background-color: white;
  bottom: 180px;
  position: absolute;
}

.chatting_collection {
  overflow-y: scroll;
}