.MessageList_UserMess {
  margin-left: 400px;
  background-color: #94C2ED;
  margin-bottom: 30px;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
}

.MessageList_FriendMess {
  background-color: #86BB71;
  margin-top: 10px;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
}

.MessageList_ImageMess {
  width: 260px;
}

.MessageList_UserMessStyle {
  
}

.MessageList_UserStyle {
  margin-left: 400px;
}

.MessageList_FriendStyle {
}


.MessageList_FriendMessStyle {
  
}