.containerLoginForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-top: 20px;
}

.input {
  margin-bottom: 20px;
  padding: 10px;
  width: 400px;
  height: 30px;
  font-size: 18px; 
  background-color: #e0e1e5;
  border: none;
}

.signup_loginButtonContainers {
  margin-bottom: 20px;
  background-color: #E38968;
  padding: 10px;
  width: 420px;
  height: 40px;
  border: none;
  font-size: 18px; 
}
