.Message_Container {
  bottom: 30px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.Message_Input {
  resize: none;
  background-color: white;
  border: none;
  width: 700px;
  height: 100px;
  border-radius: 10px;
  outline: none;
  padding: 10px;
}

.Message_SendButton{
  align-self: flex-end;
  border: none;
  background-color: #e6e8ed;
  color: #94C2ED;
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
  outline: none;
}

.Message_UploadImageButton[type="file"] {
  top: 100px;
  position: absolute;
  align-self: flex-start;
  border: none;
  background-color: #e6e8ed;
  color: #94C2ED;
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
  outline: none;
}
