.containerLoginContainer {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #444753;
}

.windowLoginAndSignUp {
  flex-direction: column;
  background-color: white;
  border-radius: 3px;
  width: 500px;
  height: 370px;
  display: flex;
  position: fixed;
  align-items: center;  
  padding-bottom: 20px;
}

.buttonLoginAndSignUpContainer {
  width: 100%;
  height: 60px;
  background-color: aquamarine;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.loginButtonContainer {
  width: 50%;
  height: 100%;
  border: none;
  border-top-left-radius: 3px;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
  font-size: 16px;
  outline: none;
}

.signUpButtonContainer {
  width: 50%;
  height: 100%;
  color: white;
  border: none;
  border-top-right-radius: 3px;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
  font-size: 16px;
  outline: none;
}

.formContainer {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.orLine {
  font-weight: bold;
}

.googleLoginButton {
  width: 50%;
  height: 40px;
  background-color:  #dd4b39;
  border: none;
  border-top-left-radius: 3px;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 16px;
}

